
h2 {
    color:aquamarine
}

html, body{
  padding: 0px;
  margin: 0px;
}

/*
Clases creadas por uno. En HTML tienen que ir co class="miClaseParaH2"
Empiezan con: .
*/
.miClaseParaH2 {
    color:blueviolet
}

/*
pedido del ejercicio
*/
.contenedor {
    margin: 20px;
}

.contenedor-orange{
  background-color: darkorange;
}

.header img {
  width: 300px;
  height: 100px;
}

/*
Identificadores para elementos de estilo unido
Empiezan con: #
*/
#miEstiloUnico {
    background-color: cornflowerblue;
}
